.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 102;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-links,
.links {
  text-decoration: none;
}

.home-links h1 {
  color: rgb(255, 52, 171);
}

nav .links {
  display: flex;
  gap: 8px;
  margin: 0 10px;
  font-weight: 600;
  color: rgb(255, 0, 149);
}

